
<ion-header>
  <ion-navbar color=aquamarine>
    <ion-title> {{ titulo }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <div class="lista">
        <div class="card" *ngFor="let materia of materias" (click)="irALaMateria(materia)">
          <div class="card-modulo-1">
            <div class="opcion-texto">
                <ion-icon name="bookmark" style="display: inline;">
                    <div style="font-family: 'Lato', sans-serif; display: inline;">
                      &nbsp;&nbsp;{{materia.nombre}}
                    </div>
                </ion-icon>
            </div>
            <p *ngIf="materia.horas" style="font-family: 'Lato';">{{materia.periodo}} - {{materia.horas}}</p>
            <p *ngIf="!materia.horas" style="font-family: 'Lato';">{{materia.periodo}}</p>
          </div>
        </div>
    </div>

</ion-content>
