page-materias {

    .scroll-content {
        background-color: #D4EDF2;
        background-repeat: no-repeat;
        background-size: cover;
    }

    ion-card {
        opacity: 0.9;
        height: 150px;
        bottom: 0;
    } 

    [cards] {
        .grid-full ion-col {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 5px 0px;
        }
        .row {
            padding: 0 12px;
        }
        .col {
            padding: 5px 0;
        }
        .card {
            margin: 0 5px;
            padding: 0px;
            width: calc(100% - 10px);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
            border-radius: 4px;
        }
    }

}
