<ion-content>
    <ion-item text-wrap>
        <div>
            <h2 style="font-family: 'Lato', sans-serif"><b>
                {{elemento.nombre_completo}}
            </b></h2>
        </div>
    </ion-item>
    <ion-item text-wrap>
        <div>
            <h1 style="color: #0B667B; font-family: 'Lato', sans-serif">
                De qué se trata?
            </h1>
        </div>
        <br/>
        <div style="font-family: 'Lato', sans-serif">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{elemento.descripcion}}
        </div>
    </ion-item>
    <ion-item text-wrap>
        <div>
            <h1 style="color: #0B667B; font-family: 'Lato', sans-serif">
                Qué objetivos busca?
            </h1>
        </div>
        <br/>
        <div style="font-family: 'Lato', sans-serif">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{elemento.prestaciones}}
        </div>
    </ion-item>

    <ion-item text-wrap>
        <div>
            <h1 style="color: #0B667B; font-family: 'Lato', sans-serif">
                Querés unirte?
            </h1>
        </div>
        <br/>
        <div style="font-family: 'Lato', sans-serif">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Aunque es aconsejable esperar hasta estar más avanzado en la carrera,
                no es necesario que tengas muchos conocimientos.
                <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Si tenés ganas de aprender y colaborar, Contactate con nosotros!
        </div>
        <br/>
        <ion-item text-wrap  no-lines *ngFor="let email of elemento.emails" (click)="enviarMail(email)">
            <ion-icon name="mail" color=aquamarine>
                &nbsp;&nbsp;
                {{email.nombre}}
            </ion-icon>
        </ion-item>
    </ion-item>
</ion-content>
