page-comedor-login {

  .scroll-content {
    background-color:transparent;
    background-image: url('../../../../assets/imgs/4to_nivel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
  .login-content {

    .logo-row {
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .logo {
      height: 170px;
      width: 170px;
    }

    .login-box {
      background: #55BED5;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
      border-radius: 0% 0% 20% 20%;
      box-shadow: 0px 11px 20px -3px rgba(48, 46, 48, 0.75);
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .ingresar-btn {
       background: #4597E0;
       border-radius: 30px !important;
     }
     .ingresar-btn:active {
       background-color: rgb(138, 192, 240);
     }
     .ingresar-btn:hover {
      background-color: rgb(138, 192, 240);
    }

     .volver-btn {
       color: #ffffff;
       font-size: 0.8em;

     }

  }

}

