page-comedor-login {

  .scroll-content {
    background-color:transparent;
    background: linear-gradient(to bottom, #55BED5 30%, #4597E0 100%);
    transition: opacity 0.8s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transform: scale(1);
    padding: 10%;    background-repeat: no-repeat;
    background-size: cover;
}
  .login-content {


    .logo-row {
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .logo {
      height: 170px;
      width: 170px;
    }

    .login-box {
      background: transparent;
      margin-top: 50px;
      border-radius: 10%;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #FFFFFF;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #FFFFFF !important;
       box-shadow: none !important;
     }

     .ingresar-btn {
       background: #55BED5;
       border-radius: 30px !important;
     }
     .ingresar-btn:active {
       background-color: rgb(138, 192, 240);
     }
     .ingresar-btn:hover {
      background-color: rgb(138, 192, 240);
    }

     .volver-btn {
       color: #FFFFFF;
       font-size: 0.8em;

     }

  }

}

