<ion-header>
    <ion-navbar color=aquamarine>
      <ion-title> {{ title }}</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>
  <ion-card>

      <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Necesito Para Cursar
              </h5>
              <fa-icon [icon]="faCoffee"></fa-icon>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
      </div>
  </ion-card>

  <ion-card>
    <expandable-list >
        <expandable-list-item (onExpanded)="showInfoCursadas()">
          <span title>Necesito para Cursar</span>
          <!-- <span secondary>Secondary</span> -->
              <a item >La Cursada de:</a>
                  <a item *ngFor="let cursada of (cursadas | async)?.cursadasParaCursar">-- {{ cursada }}</a>

              <a item >El Final de:</a> 
                  <a item *ngFor="let final of (cursadas | async)?.finalesParaCursar">-- {{ final }}</a>


        </expandable-list-item>
      </expandable-list>
    </ion-card>

    <ion-card>
        <expandable-list >
            <expandable-list-item (onExpanded)="showInfoFinales()">
              <span title>Necesito para Rendir</span>
              <!-- <span secondary>Secondary</span> -->    
                  <a item>El Final de:</a>
                      <a item *ngFor="let final of (finales | async)?.finalesParaRendir">-- {{ final }}</a>

            </expandable-list-item>   
          </expandable-list>
        </ion-card>

        <ion-card>
            <expandable-list>
                <expandable-list-item (onExpanded)="showInfoProfesores()">
                  <span title>Profesores</span>
                  <!-- <span secondary>Secondary</span> -->
                      <a item *ngFor="let profesor of (profesores | async)?.profesores">-- {{ profesor }}</a>

                </expandable-list-item>
              </expandable-list>
            </ion-card>

            <ion-card>
                <expandable-list>
                    <expandable-list-item (onExpanded)="showInfoDiasHorarios()">
                      <span title>Días y Horarios</span>
                      <!-- <span secondary>Secondary</span> -->
                          <a item *ngFor="let diaHorario of (diasHorarios | async)?.diasHorarios">-- {{ diaHorario }}</a>

                    </expandable-list-item>  
                  </expandable-list>
                </ion-card>

                <ion-card>
                    <expandable-list>
                        <expandable-list-item (onExpanded)="showInfoConsultas()">
                          <span title>Clases de Consulta</span>
                          <!-- <span secondary>Secondary</span> -->
                              <a item *ngFor="let claseConsulta of (consultas | async)?.clasesConsulta">
                                Día: {{claseConsulta.diaHorario}} <br>
                                Profesor/a: {{claseConsulta.profesor}} <br>
                                Aula: {{claseConsulta.aula}}                              
                              </a>

                        </expandable-list-item>  
                      </expandable-list>
     </ion-card>
     <ion-card>
        <expandable-list>
            <expandable-list-item (onExpanded)="showInfoLinks()">
              <span title>Links de la Materia</span>
              <!-- <span secondary>Secondary</span> -->
                  <!--<a item *ngFor="let link of (links | async)?.links" href=link.link>{{link.titulo}}</a> -->

            </expandable-list-item>  
          </expandable-list>
        </ion-card>
</ion-content>
