page-materia {

    .scroll-content {
        background-color:transparent;
        background-image: url('../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card {
        border-radius: 18px;
    }

    .a {
        color: #FF2D55;
    }

}
