page-institucion {

  .lista {
    margin: 0 5% 0 5%;
  }

  .opcion-texto {
    display: inline-block;
    font-size: 1.3em;
    color: white;
    position: relative;
    margin: 5% 0 0 10%;
  }

  .card {
    border-top-left-radius: 15% 80%;
    border-bottom-left-radius: 15% 80%;
    margin-top: 15px;
    height: 60px;
  }

  .card-modulo-1 {
    border-top-left-radius: 15% 80%;
    border-bottom-left-radius: 15% 80%;
    width: 100%;
    height: 100%;
    background-color: #55BED5;
  }

}
