page-institucion {

    .scroll-content {
        background-color:#D4EDF2;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card {
        border-radius: 22px;
        h1 {
            font-weight: 4;
            font-size: 2rem;
            color:white
        }
        p {
            margin-left: 9%;
            margin-top: 1%;
            font-size: 1rem;
            color:white;
        }
    }
}
