
<ion-header>
  <ion-navbar color=aquamarine>
    <ion-title> {{ opcion.nombre }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <div class="lista">
      <div class="card" *ngFor="let elemento of elementos" (click)="abrirModalElegido(elemento)">
        <div class="card-modulo-1 col-sm-">
          <div class="opcion-texto">
              <ion-icon name={{opcion.icono}}>
                &nbsp;&nbsp; {{elemento.nombre}}
              </ion-icon>
          </div>
          <p *ngIf="elemento.subtitulo">{{elemento.subtitulo}}</p>
        </div>
      </div>
    </div>

</ion-content>
