
<ion-header>
    <ion-navbar color=aquamarine>
      <ion-title> {{ opcion.nombre }}</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>
      <ion-item id="select" no-lines>
          <ion-label>Elegir Año</ion-label>
          <ion-select cancelText="Cancelar" 
                      okText="Aceptar"
                      [(ngModel)]="anioElegido">
            <ion-option *ngFor="let calendarioAnual of calendariosAnuales" 
                        [value]="calendarioAnual">
              {{calendarioAnual.anio}}
            </ion-option>
          </ion-select>
        </ion-item>
      <ion-list>
          <ion-item no-lines>
              <h1>{{anioElegido.anio}}</h1>
              <ion-item *ngFor="let fecha of anioElegido.cronograma">
                <div>
                  <ion-icon name={{fecha.icono}} color={{fecha.color}}>&nbsp;&nbsp;{{fecha.fecha}}</ion-icon>
                </div>
                <div>
                  <p>{{fecha.descripcion}}</p>
                </div>
              </ion-item>
          </ion-item>
      </ion-list>
  </ion-content>
