<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<ion-header>
  <ion-navbar color=aquamarine>
    <ion-title> {{ opcion.nombre }}</ion-title>
  </ion-navbar>
  <ion-navbar color=aquamarine>
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="tabs" color="white">
        <ion-segment-button value="ticket"
        [style.backgroundColor]="(tabs === 'ticket' && ios) ? 'white' : '#55BED5'">
          <ion-icon name="pricetag"
            [style.color]="(tabs === 'ticket' && ios) ? '#55BED5' : 'white'">
          </ion-icon>
        </ion-segment-button>
        <ion-segment-button value="configuracion"
          [style.backgroundColor]="(tabs === 'configuracion' && ios) ? 'white' : '#55BED5'">
          <ion-icon name="settings"
            [style.color]="(tabs === 'configuracion' && ios) ? '#55BED5' : 'white'">
          </ion-icon>
        </ion-segment-button>
        <ion-segment-button value="historial"
        [style.backgroundColor]="(tabs === 'historial' && ios) ? 'white' : '#55BED5'">
          <ion-icon name="time"
            [style.color]="(tabs === 'historial' && ios) ? '#55BED5' : 'white'">
          </ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="tabs">
    <div class="lista" *ngSwitchCase="'ticket'">
      <div class="card shadow" *ngFor="let dia of dias">
        <div class="card-modulo-1">
        <div class="dia-nombre-numero">
          {{ dia.nombre }} - {{ dia.numero }}
        </div>
        </div>
        <div class="center">
          <label class="label">
            <input class="label__checkbox" type="checkbox" />
            <span class="label__text">
              <span class="label__check">
                <i class="fa fa-check icon"></i>
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>

    <ion-list *ngSwitchCase="'configuracion'">
    </ion-list>

    <ion-list *ngSwitchCase="'historial'">
    </ion-list>

  </div>
</ion-content>

<ion-footer *ngIf="tabs === 'ticket'">
  <button ion-item no-lines (click)="comprar()" detail-none class="boton-footer">COMPRAR</button>
</ion-footer>
