<ion-header>
  <ion-navbar #navbar hideBackButton color=aquamarine>
        <ion-buttons left>
            <button ion-button (click)="volverInstitucion()">
                <ion-icon class="icono-volver" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="titulo">{{ token.nombre }} {{ token.apellido }}</ion-title>
        <ion-icon name="power" class="salir" (click)="salir()"></ion-icon>
        <ion-title class="saldo">$ {{ saldo }}</ion-title>
  </ion-navbar>
  <ion-navbar color=aquamarine>
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="tabs" color="white">
        <ion-segment-button value="ticket"
        [style.backgroundColor]="(tabs === 'ticket' && ios) ? 'white' : '#55BED5'">
          <ion-icon name="pricetag"
            [style.color]="(tabs === 'ticket' && ios) ? '#55BED5' : 'white'">
          </ion-icon>
        </ion-segment-button>
        <ion-segment-button value="configuracion"
          [style.backgroundColor]="(tabs === 'configuracion' && ios) ? 'white' : '#55BED5'">
          <ion-icon name="settings"
            [style.color]="(tabs === 'configuracion' && ios) ? '#55BED5' : 'white'">
          </ion-icon>
        </ion-segment-button>
        <ion-segment-button value="historial"
        [style.backgroundColor]="(tabs === 'historial' && ios) ? 'white' : '#55BED5'">
          <ion-icon name="time"
            [style.color]="(tabs === 'historial' && ios) ? '#55BED5' : 'white'">
          </ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="tabs">
    <div class="lista" *ngSwitchCase="'ticket'">
      <div class="card shadow" *ngFor="let dia of dias">
        <div class="card-modulo-1" [style.backgroundColor]="(dia.deshabilitado == true) ? 'rgb(247, 138, 158)' : '#55BED5'">
        <div class="dia-nombre-numero">
          {{ dia.nombre }} - {{ dia.numero }}
        </div>
        </div>
        <div class="center">
          <label class="label">
            <input class="label__checkbox"
                   disabled={{dia.deshabilitado}}
                   type="checkbox"
                   id={{dia.nombre}}
                   [(ngModel)]="dia.activo"
                   (click)="guardarSeleccionCheck(dia)"/>
            <span class="label__text">
              <span class="label__check">
                <i class="fa fa-check icon"></i>
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <ion-list *ngSwitchCase="'configuracion'">
      <ion-card class="turno-menu-card">
          <label class="turno-menu-titulo"> Turno </label>
          <div class="linea"></div>
              <ion-list radio-group>
                  <ion-item *ngFor="let turno of turnos">
                      <ion-label>{{turno.nombre}} - {{turno.horario}}</ion-label>
                      <ion-label>
                          <input type="radio"
                                 class="option-input radio"
                                 name="turno"
                                 id={{turno.id}}
                                 [checked]="turno.activo"
                                 (click)="guardarTurno(turno)"/>
                      </ion-label>
                  </ion-item>
              </ion-list>
      </ion-card>
      <ion-card class="turno-menu-card">
          <label class="turno-menu-titulo"> Menú </label>
          <div class="linea"></div>
              <ion-list>
                  <ion-item *ngFor="let menu of menues">
                      <ion-label>{{menu.nombre}}</ion-label>
                      <ion-label>
                          <input type="radio"
                                 class="option-input radio"
                                 name="menu"
                                 [checked]="menu.activo"
                                 id={{menu.id}}
                                 (click)="guardarMenu(menu)"/>
                      </ion-label>
                  </ion-item>
              </ion-list>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'historial'">
        <ion-card class="compra-card" *ngFor="let compra of historial_compras_reducido">
            <div>
                <img class="compra-icono" [src]="icono_compra_historial"/>
                <label class="compra-dia">{{compra.nombre}} {{compra.numero}} de {{compra.mes}} <br/><p class="compra-fecha">{{compra.dia_comprado}}</p></label>
                <p class="compra-precio">$ {{compra.precio}}</p>
            </div>
        </ion-card>
        <button class="mostrar-mas" ion-button round outline (click)="mostrarMas()">Mostrar más</button>
    </ion-list>

  </div>
</ion-content>
<div *ngIf="tabs === 'ticket'">
  <ion-footer>
      <button ion-item no-lines
              (click)="confirmar()"
              detail-none
              class="boton-footer"
              [disabled]="dias_deshacer_compra.length === 0 && dias_comprar.length === 0">
              CONFIRMAR
      </button>
  </ion-footer>
</div>
