<ion-content>
    <ion-item text-wrap>
        <div>
        <h1 style="color: #FF3F63;">
            Sumate!
        </h1>
        </div>
        <br/>
        <ion-slides 
            #slider 
            *ngIf="elemento.fotos && elemento.fotos.length"
            pager=true 
            autoplay=1500 
            effect="slide" 
            loop=true 
            (ionSlideWillChange)="onSlideChanged()">

            <ion-slide *ngFor="let foto of elemento.fotos"
                        class="swiper-no-swiping"
                        [ngStyle]="{'background' : 'url(' + foto + ')'}">
            </ion-slide>

        </ion-slides>
        <br/>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{elemento.descripcion}} 
        </div>
    </ion-item>

    <ion-item text-wrap *ngFor="let subdivision of elemento.informacion">
        <div>
            <h1 style="color: #FF3F63;">
                {{subdivision.genero}}
            </h1>
        </div>
        <ion-item no-lines *ngFor="let grupo of subdivision.cronograma">
            <h2>{{grupo.ubicacion}}</h2>
            <ion-item no-lines *ngFor="let dia_horario of grupo.dias_horarios">
                <ion-icon color=aquamarine name="time"></ion-icon>
                &nbsp;&nbsp;{{dia_horario}} 
            </ion-item>
        </ion-item>
    </ion-item>
    <ion-item text-wrap>
        <div>
            <h1 style="color: #FF3F63;">
                Emails de Contacto:
            </h1>
        </div>
        <ion-item no-lines *ngFor="let email of elemento.emails">
            <ion-icon 
                name="mail" 
                color=aquamarine>
                &nbsp;&nbsp;
                <a href="mailto:{{mail}} + '?Subject=Consulta">{{email}}</a>
            </ion-icon>  
        </ion-item>
    </ion-item>

    <ion-item>
        <h1 style="color: #FF3F63;">
            Links:
        </h1>
        <ion-list>
            <a *ngFor="let link of elemento.links" 
                href="#" 
                ion-item
                (click)="openWithSystemBrowser(link.link)">
                <ion-icon color=aquamarine name={{link.icono}}></ion-icon>
                &nbsp;&nbsp;{{link.titulo}}
            </a>
        </ion-list>
    </ion-item>
</ion-content>